/* Animation */
@keyframes anime-bg {
    0% {
        background-image: url(../img/banners/banner-1.png);
    }

    16% {
        background-image: url(../img/banners/banner-1.png);
    }

    33% {
        background-image: url(../img/banners/banner-2.png);
    }

    48% {
        background-image: url(../img/banners/banner-2.png);
    }

    65% {
        background-image: url(../img/banners/banner-3.png);
    }

    80% {
        background-image: url(../img/banners/banner-3.png);
    }

    100% {
        background-image: url(../img/banners/banner-1.png);
    }
}

@keyframes anime-btn {
    0% {
        background-color: var(--s-br-bg);
        box-shadow: var(--s-br-box-shadow);
    }

    16% {
        background-color: var(--s-br-bg);
        box-shadow: var(--s-br-box-shadow);
    }

    33% {
        background-color: var(--s-ar-bg);
        box-shadow: var(--s-ar-box-shadow);
    }

    48% {
        background-color: var(--s-ar-bg);
        box-shadow: var(--s-ar-box-shadow);
    }

    65% {
        background-color: var(--s-pr-bg);
        box-shadow: var(--s-pr-box-shadow);
    }

    80% {
        background-color: var(--s-pr-bg);
        box-shadow: var(--s-pr-box-shadow);
    }

    100% {
        background-color: var(--s-br-bg);
        box-shadow: var(--s-br-box-shadow);
    }
}