/* Animation */
@keyframes anime-bg {
    0% {
        background-image: url(../img/banners/banner-1.png);
    }

    16% {
        background-image: url(../img/banners/banner-1.png);
    }

    33% {
        background-image: url(../img/banners/banner-2.png);
    }

    48% {
        background-image: url(../img/banners/banner-2.png);
    }

    65% {
        background-image: url(../img/banners/banner-3.png);
    }

    80% {
        background-image: url(../img/banners/banner-3.png);
    }

    100% {
        background-image: url(../img/banners/banner-1.png);
    }
}