/********************/
/** Footer Styling **/
/********************/

footer {
    background: #161616;
    width: 100%;
    padding: 75px 0;
    margin: 100px 0 0 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    width: 90%;
    border: 1px solid #ffffff;
}

footer p {
    width: 75%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

footer .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
}

footer .icon a {
    text-decoration: none;
    color: #fff;
}

/* Footer In Phone */
@media only screen and (max-width:576px) {
    footer p {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer h1 {
        font-size: 25px;
        font-weight: 700;
    }

    footer .icon {
        flex-direction: column;
        font-size: 20px;
        gap: 10px;
        margin-top: 20px;
    }
}

/* Footer In Tablet */
@media only screen and (min-width: 576px) and (max-width:992px) {
    footer p {
        font-size: 15px;
        gap: 20px;
    }
}