/********************/
/** Footer Styling **/
/********************/
footer {
    color: var(--footer-txt);
    background: var(--footer-bg);
    width: 100%;
    padding: 75px 0;
    margin: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h1 {
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    width: 90%;
    border: var(--footer-hr);
    box-shadow: var(--footer-hr-box-shadow);
    margin-bottom: 25px;
}

footer p {
    width: 75%;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

footer .icon {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
}

footer .icon a {
    text-decoration: none;
    color: var(--footer-icon-txt);
}

/*******************/
/* Footer In Phone */
/*******************/
@media only screen and (max-width:576px) {
    footer p {
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    footer h1 {
        font-size: 25px;
        font-weight: 700;
    }

    footer .icon {
        /* flex-direction: column; */
        font-size: 25px;
        gap: 30px;
        margin-top: 20px;
    }
}

/********************/
/* Footer In Tablet */
/********************/
@media only screen and (min-width: 576px) and (max-width:992px) {
    footer p {
        font-size: 15px;
        gap: 20px;
    }
}