/***********************************/
/** Styling Content of Home Blogs **/
/***********************************/
article.content img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

article.content .content-info {
    padding: 20px;
}

article.content .content-info button {
    color: var(--content-info-btn-txt);
    background: var(--content-info-btn-bg);
    border: var(--content-info-btn-border);
    border-radius: 3px;
    height: 30px;
    width: 80px;
    cursor: pointer;
}

article.content .content-info h1 {
    font-size: 18px;
    font-weight: 600;
}

article.content .content-info .more-info {
    font-size: 14px;
    color: var(--more-info);
    width: 60%;
    display: flex;
    justify-content: space-between;
}