/**************************/
/** Main Content Styling **/
/**************************/

main {
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    max-width: 1300px;
}

main nav {
    position: sticky;
    top: 50px;
    background: #161616;
    height: 230px;
    min-width: 160px;
    max-width: 250px;
    border-radius: 15px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}

main nav a button {
    padding: 16px 10px;
    background: #fff;
    color: #161616;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

main nav a button.selected {
    background: #d21f27;
    color: #fff;
}

section.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 24px;
    column-gap: 24px; */
    gap: 24px;
    /* width: 100%; */
}

article.content {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 7px #333;
}


@media only screen and (max-width: 576px) {
    main {
        margin: 30px 20px 0;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        /* width: 100%; */
    }

    main nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 20px;
        border-radius: 0;
        background-color: transparent;
        width: 100%;
        top: 0;
        min-width: 90%;
        max-width: 100%;
        padding: 0;
    }

    main nav a button {
        background: #ffefdd88;
        border: 1px solid #0000003d;
    }

    main nav a button.selected {
        border: 0;
    }

    section.container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Hiding Extra Blogs in Phone (Too Lengthy) */
    section.container>article.blog:nth-child(7),
    section.container>article.blog:nth-child(8),
    section.container>article.blog:nth-child(9) {
        display: none;
    }
}

@media only screen and (min-width: 576px) and (max-width:992px) {
    main {
        margin: 30px 25px 0;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    main nav {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 20px;
        border-radius: 0;
        background-color: transparent;
        width: 100%;
        height: 70px;
        top: 0;
        min-width: 90%;
        max-width: 100%;
        padding: 0;
    }

    main nav a button {
        background: #ffefdd88;
        border: 1px solid #0000003d;
    }

    main nav a button.selected {
        border: 0;
    }

    section.container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Hiding Extra Blogs in Tablet View (Instructions) */
    section.container>article.blog:nth-child(7),
    section.container>article.blog:nth-child(8),
    section.container>article.blog:nth-child(9) {
        display: none;
    }
}