/**************************/
/** Main Content Styling **/
/**************************/
main {
    margin: 50px 50px 0 50px;
    display: grid;
    grid-template-columns: 0.25fr 3fr;
    gap: 24px;
    max-width: 1400px;
}

main nav {
    background: var(--nav-bg);
    box-shadow: var(--nav-box-shadow);
    position: sticky;
    top: 50px;
    height: 230px;
    min-width: 160px;
    max-width: 250px;
    border-radius: 15px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main nav a {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}

main nav a button {
    color: var(--nav-btn-txt);
    background: var(--nav-btn-bg);
    box-shadow: var(--nav-btn-box-shadow);
    padding: 16px 10px;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
}

main nav a button.selected {
    color: var(--btn-s-txt);
    background: var(--s-pr-bg);
    box-shadow: var(--s-pr-box-shadow);
}

section.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

article.content {
    color: var(--content-txt);
    border-radius: 15px;
}

.container>article.content:nth-child(3n) {
    background: var(--content-1-bg);
    box-shadow: var(--content-1-box-shadow);
}

.container>article.content:nth-child(3n - 1) {
    background: var(--content-2-bg);
    box-shadow: var(--content-2-box-shadow);
}

.container>article.content:nth-child(3n - 2) {
    background: var(--content-3-bg);
    box-shadow: var(--content-3-box-shadow);
}

main .view-all {
    display: none;
}

/*****************/
/* Main In Phone */
/*****************/
@media only screen and (max-width: 576px) {
    main {
        margin: 30px 20px 0;
        gap: 24px;
        grid-template-columns: 1fr;
    }

    main nav {
        color: var(--nav-small-txt);
        background: var(--nav-small-bg);
        box-shadow: var(--nav-small-box-shadow);
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 20px;
        border-radius: 0;
        width: 100%;
        top: 0;
        min-width: 90%;
        max-width: 100%;
        padding: 0;
    }

    main nav a button {
        background: var(--nav-small-btn-bg);
        border: var(--nav-small-btn-border);
    }

    main nav a button.selected {
        border: var(--small-btn-s-border);
    }

    section.container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Hiding Extra Blogs in Phone (Too Lengthy) */
    section.container>article.blog:nth-child(7),
    section.container>article.blog:nth-child(8),
    section.container>article.blog:nth-child(9) {
        display: none;
    }

    main .view-all {
        display: none;
    }
}

/******************/
/* Main In Tablet */
/******************/
@media only screen and (min-width: 576px) and (max-width:992px) {
    main {
        margin: 30px 25px 0;
        gap: 24px;
        grid-template-columns: 1fr;
    }

    main nav {
        color: var(--nav-small-txt);
        background-color: var(--nav-small-bg);
        box-shadow: var(--nav-small-box-shadow);
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 20px;
        border-radius: 0;
        width: 100%;
        height: 70px;
        top: 0;
        min-width: 90%;
        max-width: 100%;
        padding: 0;
    }

    main nav a button {
        background: var(--nav-small-btn-bg);
        border: var(--nav-small-btn-border);
    }

    main nav a button.selected {
        border: var(--small-btn-s-border);
    }

    section.container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Hiding Extra Blogs in Tablet View (Instructions) */
    section.container>article.blog:nth-child(7),
    section.container>article.blog:nth-child(8),
    section.container>article.blog:nth-child(9) {
        display: none;
    }

    main .view-all {
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    main .view-all button {
        color: var(--btn-s-txt);
        background: var(--s-pr-bg);
        box-shadow: var(--s-pr-box-shadow);
        font-size: 20px;
        font-weight: 600;
        padding: 16px 25px;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
    }
}