/******************************************/
/* Different Style-Sheet to Control Theme */
/******************************************/

:root {
    /* Body */
    --body-bg: #fff;

    /* Header */
    --header-txt: #fff;
    --header-bg: linear-gradient(110deg, #000, #8d8d8d);
    --header-phn-bg: linear-gradient(180deg, #000, #8d8d8d);
    --header-btn-txt: #fff;
    --header-btn-bg: #d21f27;

    /* Main */

    /* home */

    /* All Group */

    /* Upcoming */

    /* Footer */
    --footer-txt: #fff;
    --footer-bg: #161616;
    --footer-hr: 1px solid #ffffff;
    --footer-icon-txt: #fff;
}